# ======================== #
# "main" branch automation #
# ======================== #

name: main
on:

  # This workflow is executed on every push to the "main" branch.
  push:
    branches:
      - main

jobs:

  version:
    runs-on: ubuntu-latest
    outputs:
      semver: ${{ steps.genver.outputs.semver }}
      semver-oci: ${{ steps.genver.outputs.semver-oci }}
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Generate version
        uses: ./.github/actions/genver
        id: genver
        with:
          sha: ${{ github.sha }}

  container-image:
    runs-on: ubuntu-latest
    needs:
      - version

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Build docker
        uses: ./.github/actions/dockerbuild
        with:
          version: ${{ needs.version.outputs.semver-oci }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}

