# =================== #
# Pull request checks #
# =================== #

# The purpose of this workflow is to enforce our policies for pull requests
# that are created in the repository.
# Those policies consist of styling requirements and protection against some common mistakes.

name: pr
on:

  pull_request:
    branches:
      - '*'
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  lint-and-test:
    name: lint-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: stable
      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v9.2.0
        with:
          version: v2.7.2
      - name: Test
        run: go test -vet=all ./...
