# ================== #
# Release automation #
# ================== #

# Workflow that contains automation jobs that should run when a new release is created.

name: release
on:
  release:
    types:
      - released

jobs:
  container-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Build docker
        uses: ./.github/actions/dockerbuild
        with:
          version: ${{ github.event.release.tag_name }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
